<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsy.plan">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.FunctionAssignActivity"
            android:label="@string/title_activity_function_assign"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".challenge.Challenge52Activity"
            android:label="@string/title_activity_challenge_52"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".map.CashMapActivity"
            android:label="@string/title_activity_cash_map"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".main.AddActivity"
            android:theme="@style/AppTheme.Dialog"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".main.UpdateActivity"
            android:theme="@style/AppTheme.Dialog"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.SettingFixedActivity"
            android:label="@string/setting_fixed"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>